<% unless @questions.blank? %>
  <p class="lead">
    <small>
      <%= "#{ @questions.total_count } #{ @questions.total_count != 1 ? "resultados" : "resultado" } para: " %>
      <b><%= sanitize params[:term] %></b>
    </small>
  </p>
<% end %>

<%= render partial: 'site/shared/questions' %>

<% if user_signed_in? %>
  <%# Pagination %>
  <div class="row">
    <div class="col-lg-12 text-center">
      <%= paginate @questions %>
    </div> <!-- /.col-lg-12 -->
  </div> <!-- /.row -->
<% else %>
  <div class="alert alert-warning" role="alert">
    Efetue login para poder navegar em todas as perguntas...
  </div>
<% end %>