<% if @questions.total_count != 0 %>
  <p class="lead">
    <small>
      <%= "#{ @questions.total_count } #{ @questions.total_count != 1 ? "resultados" : "resultado" } para: " %>
      <b><%= params[:term] %></b>
    </small>
  </p>
<% end %>

<%= render partial: 'site/shared/questions' %>
